<header class="main-nav-container">
   
        <nav class="main-nav main-nav-hidden">
         <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
        </nav>

</header>
