


/* Global---------------------------------------------- */




nav a { 
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

nav a:hover{
    color:grey;
}

body{
    margin: 0px;
    padding:0px;
}


/* Home Page------------------------------------------------------ */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    border: 30px;
    
}


.container {
    position: relative;
    display: flex;
    background:url("/assets/image1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 800px;
    padding: 40px; 
    justify-content: center;
    align-items: center;

}
    


  .text-block {
  width: 50%;
  min-width: 300px;
  max-width: 700px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 550px;
  padding: 10px 20px; 
  box-shadow: 0 0px 8px 0 grey;
       
  }

      
    
  h1{
    font-family: 'Montserrat', sans-serif;
    padding-top:60px;

    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2px;
    text-align: center;

  }
  

  h2{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;

  }


.area{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
   
 
}

img{
    width: 100%;
    object-fit: contain;

}

p {

color: black;
padding-top: 10px;
padding-left: 40px;
max-width:87% ;
object-fit: contain;
flex-shrink: 0;
font-family: 'Montserrat', sans-serif;
font-size: 23px;
font-style: normal;
font-weight: 300;
letter-spacing: 0px;
line-height: normal;
text-align: left;

}



/* Home Page----------------------------------------------------------------------------------- */






/* About------------------------------------------------------------------------------------------*/


.image3{
    width: 80%;
    object-fit: contain;
}


.about-me-description{

    color:black;
    padding-left: 40px;
    font-size: 40px;
    line-height: 60px;

}

.strong{
    font-weight: bold;
    font-size: larger;
}





/* About------------------------------------------------------------------------------------------*/









/* Services------------------------------------------------------------------------------------------*/


.container2 {
    position: relative;
    display: flex;
    background-image:url("/assets/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 800px;
    padding: 200px; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    


}
    


.text-block1 {
    width: 50%;
    min-width: 900px;
    max-width: 900px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 200px;
    max-height: 500px;
    padding: 100px; 
    box-shadow: 0 0px 8px 0 grey;
    margin: 30px;
         
    }

    .text-block2 {
        width: 50%;
        min-width: 900px;
        max-width: 900px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        min-height: 200px;
        max-height: 500px;
        padding: 100px; 
        box-shadow: 0 0px 8px 0 grey;
        margin: 30px;
             
        }
        .text-block3 {
            width: 50%;
            min-width: 900px;
            max-width: 900px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            min-height: 200px;
            max-height: 500px;
            padding: 100px; 
            box-shadow: 0 0px 8px 0 grey;
            margin: 30px;
                 
            }


            .text-block4 {
                width: 50%;
                min-width: 900px;
                max-width: 900px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.9);
                min-height: 200px;
                max-height: 500px;
                padding: 100px; 
                box-shadow: 0 0px 8px 0 grey;
                margin: 30px;
                     
                }
    





/* Services-----------------------------------------------------------------------------------------*/

/* Footer-----------------------------------------------------------------------------------------*/

p2{
    text-align: center;
    flex-shrink: 0;
    color: black;
        padding-top: 30px;
        padding-left: 40px;
        max-width: fit-content;
        flex-shrink: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 200;
        letter-spacing: 1px;
        line-height: normal;
       
        
    }
/* Footer-----------------------------------------------------------------------------------------*/

@media (min-width:800px){
    .area{
        flex-direction: row;
        max-width: 50%;
    }
}


