
body{
    margin: 0px;
    padding:0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    border: 30px;
    
    
}



nav {
    background: white;
 
   
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;

}



nav a { 
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

nav a:hover{
    color:grey;
}


.container {
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    
   

    .image1 {
   
    max-width: 100%;

          
        }

    .text-block {
  position: absolute;
  width: 700px;
  height: 300px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 10px;
  opacity: 0.9;
  background: white;
 
  padding: 10px 20px; 
  box-shadow: 0 0px 8px 0 grey;

  
  

       
  }

      }
    
  h1{
    font-family: 'Montserrat', sans-serif;
    padding-top:60px;

    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2px;
    text-align: center;

  }
  

  h2{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;

  }




.Area{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    max-width: 50%;
 
}



.image2{
    width: 100%;
    object-fit: contain;
   

}


p {

color: black;
padding-top: 10px;
padding-right: 0;
padding-left: 40px;
max-width:87% ;
object-fit: contain;
flex-shrink: 0;
font-family: 'Montserrat', sans-serif;
font-size: 23px;
font-style: normal;
font-weight: 300;
letter-spacing: 0px;
line-height: normal;
text-align: left;

}

footer{
text-align: center;
flex-shrink: 0;
    
}

p2{
    color: black;
    padding-top: 30px;
    padding-left: 40px;
    max-width: fit-content;
    flex-shrink: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: normal;

}