


/* Global---------------------------------------------- */




nav a { 
    color: black;
    font-size: 18px;
    padding: 20px;
    font-weight: 300;
    text-decoration: none;
}

nav a:hover{
    color:grey;
}

body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
}


/* Home Page------------------------------------------------------ */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.container {
    display: flex;
    background:url("/assets/image1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 800px; 
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom:30px ;

}
    


  .text-block {
  width: 50%;
  min-width: 300px;
  max-width: 700px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px; 
  box-shadow: 0 0px 8px 0 grey;
       
  }

      
    
  h1{
    padding-top:60px;
    font-size: 40px;
    line-height:2px;
    text-align: center;

  }
  

  h2{
    font-size: 30px;
    text-align: center;

  }


.area{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    flex-direction: column;
    gap: 20px;
    align-items: center;

 
}

.area img{
    width: 100%;
}

p {
color: black;
font-size: 16px;


}



/* Home Page----------------------------------------------------------------------------------- */






/* About------------------------------------------------------------------------------------------*/
.about{
    background-color:rgba(173, 207, 206, 0.155) ;

}

.image3{
    width:60%;
    object-fit: contain;
}


.image4{
    width:90%;
    object-fit: contain;
}




/* About------------------------------------------------------------------------------------------*/









/* Services------------------------------------------------------------------------------------------*/


.services {
    background-image:url("/assets/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center;

}
    
h4{
    color: black;
    padding-top:60px;
    font-size: 25px;
    font-style: normal;
    font-weight: 300px;
    letter-spacing: 1px;
    line-height: 2px;
    text-align: center;
}

.text-block1 {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px; 
    box-shadow: 0 0px 8px 0 grey;
    margin: 30px;
         
    }

            .copy{
                color: black;
                max-width:100% ;
                object-fit: contain;
                font-size: 18px;
                font-style: normal;
                font-weight: 300px;
                letter-spacing: 0px;
                line-height: normal;
                text-align: left;

            }

    





/* Services-----------------------------------------------------------------------------------------*/


/* Contact-----------------------------------------------------------------------------------------*/
.contact{
    background-color:rgba(173, 207, 206, 0.155) ; ;
}

#ff-compose .ff-form {
    background-color: transparent !important; 
}

#ff-compose a.ff-powered-img img {
visibility: hidden !important;
}


/* Contact-----------------------------------------------------------------------------------------*/




/* Footer-----------------------------------------------------------------------------------------*/


/* Footer-----------------------------------------------------------------------------------------*/

@media (min-width:800px){
    .area{
        flex-direction: row;
        max-width: 90%;
    }
    .area img{
        width: 50%;
    }
}


