<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'My Homepage' %}
    <body class="home">
        {% include 'header' %}

    
        <main>
          <div class="container">
                
                <div class="text-block">
                  <h1>ÁMATE</h1>
                  <h2>Nutrition and Wellness</h2>
                </div>
              </div>
           
        <div class="area">
            <img alt="image2" src="/assets/fries.jpg" class="image2">   
            <p>
         At Ámate, we bring specialized expertise in nutrition to the table, providing you with personalized plans that suit your unique needs and goals. Our holistic approach extends beyond calorie counting to embrace your entire lifestyle and well-being. We're driven by a passion for helping you make lasting changes in your diet through science-backed recommendations. We're here to collaborate with you to ensure the best outcomes for your nutritional journey.   
              </p>
    
        </div>
      
            
        </main>
      
    <footer>
      <p2>Copyright ©
      <script>document.write(new Date().getFullYear())</script> Olivia Wilson All Rights Reserved</p2>
  </footer>
          </body>
    
</html>
