<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Services | ÁMATE ' %}
<body class="services">
    {% include 'header' %}

    <main class="services">

        <h1>Services</h1>

        <div class="text-block1"> 
            <h2>Customized Nutrition Plans</h2>
            <p class="copy">At Ámate we provide personalized nutrition 
                plans tailored to individual needs and goals. These plans are meticulously crafted through in-depth consultations, 
                addressing specific health objectives such as weight management or enhanced energy levels.</p>
        </div> 
        <div class="text-block1"> 
            <h2>Holistic Wellness Workshops</h2>
            <p class="copy">At Ámate we conduct engaging workshops that extend beyond diet, covering stress management, mindful eating, 
                and positive lifestyle habits. Participants gain insights into holistic well-being, learning how to integrate 
                nutrition with mental and emotional health for a balanced life.</p>
        </div> 
        <div class="text-block1"> 
            <h2>Family Nutrition Coaching</h2>
            <p class="copy">Recognizing the importance of family, 
                Ámate offers specialized coaching sessions. These focus on creating a supportive environment and cultivating healthy habits for both adults and children. 
                From meal planning to promoting a balanced family dynamic, Kissy's expertise contributes to a wellness-oriented lifestyle for the whole family.</p>
        </div> 
     
        </main> 
        {% include 'footer' %}
</body>

</html>